<app-header [show]="true"></app-header>
<nav mat-tab-nav-bar>
    <a mat-tab-link  routerLink="/admin" routerLinkActive #rla="routerLinkActive" [active]="false">
      Admin Home
    </a>
    <a mat-tab-link  routerLink="/addCandidate" routerLinkActive #rla="routerLinkActive" [active]="true">
        Add Candidate
    </a>
    <a mat-tab-link  routerLink="/addParty" routerLinkActive #rla="routerLinkActive" [active]="false">
        Add Party
    </a>
    <a mat-tab-link  routerLink="/addVoter" routerLinkActive #rla="routerLinkActive" [active]="false">
        Add Voter
    </a>
  </nav>
    <mat-card class="form">
      <h4>Enter the details of the new candidate contesting in the election for a party in a particular constituency</h4>
    <form [formGroup]="candidateForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width" >
            <mat-label>Candidate Name</mat-label>
            <input matInput placeholder="Enter the candidate name" formControlName="candidateId">
          </mat-form-field>
          <br><br>
          <mat-form-field class="full-width">
            <mat-label>Select candidate's party: </mat-label>
            <mat-select formControlName="partyId">
              <mat-option *ngFor="let party of parties" [value]="party.partyId">
                {{party.partyId}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br><br>
          <mat-form-field class="full-width">
            <mat-label>Select candidate's constituency: </mat-label>
            <mat-select formControlName="constituencyId">
              <mat-option *ngFor="let const of constituencies" [value]="const.constituencyId">
                {{const.constituencyId}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" [disabled]="candidateForm.invalid">Add Candidate</button>
    </form>
    </mat-card>